
* {
margin: 0 auto;
font-family:calibri;
}

.names{
    color:#424042 ;
}

.layout{
    width:800px;
    height:500px;
    background-image:url('../images/layouts.jpg');
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0em 0.5em 0.8em  0.2em gray;
}

.loginpage{
    margin: 0 auto;
    position:relative;
    float:right;
    top:140px;
    right:250px;
}

.button{
    position:relative;
    right:-110px;
}

.instruction{
    text-align:center;
    font-size:12px;
    width:230px;
    height:50px;
}

#validation{
    position:relative;
    text-align:center;
    top:20px;
    color:red;
}

.footer{
    font-size:12px;
    position:relative;
    top:55px;
}